body {
	margin: 0;
	text-align: center;
	background: #595959;
	-webkit-user-select: none;
}

div {
	box-sizing: border-box;
}

#game-wrap {
	display: inline-block;
	margin-top: 30px;
}

.button-wrap {
	text-align: left;
}

.button {
	display: inline-block;
	margin: 10px;
	font-size: 18px;
	line-height: 18px;
	cursor: pointer;
	height: 28px;
	padding: 3px 12px;
	border: 1px solid #222;
	background: #333;
	color: #ffffff;
}

canvas {
	display: block;
	margin: 0 auto;
}